/* 
	GRID
	Permite a distribuição de conteúdos dentro de um contêiner,
	utilizando os conceitos de linhas e de células.
	
*/

.grid-line:after {
	clear: both;
	content: ".";
	display: block;
	height: 0;
	visibility: hidden;
}

.last-cell:after {
	clear: both;
	content:
		" . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . "
		;
	display: block;
	height: 0 !important;
	line-height: 0;
	visibility: hidden;
}

.grid-cell {
	float: left;
}

.size1of5 { width: 20% }
.size2of5 { width: 40% }
.size3of5 { width: 60% }
.size4of5 { width: 80% }

.size1of4 { width: 25% }
.size2of4 { width: 50% }
.size3of4 { width: 75% }


.size1of3 { width: 33.33333% }
.size2of3 { width: 66.66666% }

.size1of2 { width: 50% }

.size1of1 { float: none }

.last-cell { 
	*display: block; 
	*zoom: 1; 
	#float: none;
	_position: relative;
	_left: -3px;
	_margin-right: -3px;
	#width: auto;
}