<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
	<display-name>cd-assinaturaforum-portlet</display-name>

	<filter>
		<filter-name>AssinaturaForumApplication</filter-name>
		<filter-class>org.apache.wicket.protocol.http.WicketFilter</filter-class>
		<init-param>
			<param-name>detectPortletContext</param-name>
			<param-value>true</param-value>
		</init-param>
		<init-param>
			<param-name>applicationClassName</param-name>
			<param-value>br.gov.camara.edemocracia.portlets.inscricaoforum.AssinaturaForumApplication</param-value>
		</init-param>
		<init-param>
			<param-name>filterMappingUrlPattern</param-name>
			<param-value>/assinaturaforum/*</param-value>
		</init-param>
	</filter>

	<filter>
		<filter-name>BloqueioForumApplication</filter-name>
		<filter-class>org.apache.wicket.protocol.http.WicketFilter</filter-class>
		<init-param>
			<param-name>detectPortletContext</param-name>
			<param-value>true</param-value>
		</init-param>
		<init-param>
			<param-name>applicationClassName</param-name>
			<param-value>br.gov.camara.edemocracia.portlets.bloqueioforum.BloqueioForumApplication</param-value>
		</init-param>
		<init-param>
			<param-name>filterMappingUrlPattern</param-name>
			<param-value>/bloqueioforum/*</param-value>
		</init-param>
	</filter>
	
	<context-param>
		<param-name>configuration</param-name>
		<param-value>deployment</param-value>
	</context-param>
	<filter-mapping>
		<filter-name>AssinaturaForumApplication</filter-name>
		<url-pattern>/assinaturaforum/*</url-pattern>
		<dispatcher>REQUEST</dispatcher>
		<dispatcher>FORWARD</dispatcher>
		<dispatcher>INCLUDE</dispatcher>
	</filter-mapping>
	<filter-mapping>
		<filter-name>BloqueioForumApplication</filter-name>
		<url-pattern>/bloqueioforum/*</url-pattern>
		<dispatcher>REQUEST</dispatcher>
		<dispatcher>FORWARD</dispatcher>
		<dispatcher>INCLUDE</dispatcher>
	</filter-mapping>
</web-app>
