Prezado(a) [$TO_NAME$],<br /><br />

[$BLOGS_COMMENTS_USER_NAME$] comentou seu blog.<br /><br />

----------<br />
[$BLOGS_COMMENTS_BODY$]<br />
----------<br /><br />

[$BLOGS_ENTRY_URL$]<br /><br />

Atenciosamente,<br />
[$FROM_NAME$]<br />
[$FROM_ADDRESS$]<br />