Prezado(a) [$TO_NAME$],<br /><br />

[$BLOGS_ENTRY_USER_NAME$] atualizou uma entrada do blog.<br /><br />

[$BLOGS_ENTRY_URL$]<br /><br />

Atenciosamente,<br />
[$FROM_NAME$]<br />
[$FROM_ADDRESS$]<br />