Prezado(a) [$TO_NAME$],<br /><br />

Um [$CONTENT_TYPE$] de nome "[$CONTENT_TITLE$]" que pertence a <a href="[$REPORTED_USER_URL$]">[$REPORTED_USER_NAME$]</a> ([$REPORTED_USER_ADDRESS$]) foi marcado como inapropriado por [$REPORTER_USER_NAME$] ([$REPORTER_USER_ADDRESS$]). A razão indicada para reportar o abuso foi "[$REASON$]" e foi relatado em [$DATE$].<br /><br />

O conteúdo pode ser visto em:

[$CONTENT_URL$]<br /><br />

Você está recebendo este email pois você é administrador da comunidade [$COMMUNITY_NAME$]. Por gentileza revise o conteúdo dessa comunidade.<br /><br />

Atenciosamente,<br />
[$FROM_NAME$]<br />
[$FROM_ADDRESS$]<br />
[$PORTAL_URL$]<br />