Prezado(a) [$TO_NAME$],<br /><br />

Bem vindo! Recentemente você criou uma conta em http://[$PORTAL_URL$].

Caso não tenha sido você que criou a conta ou queira se descadastrar, clique no link abaixo e confirme seu descadastramento: 
<br />
<br />
<a href="[$CONFIRM_URL$]">[$CONFIRM_URL$]</a>
<br />
<br />
Caso não consiga clicar no link, copie-o e cole-o na barra de endereços do seu navegador.
<br /> 
<br />
Atenciosamente,<br /><br />
[$FROM_NAME$]<br />
[$FROM_ADDRESS$]<br />
http://[$PORTAL_URL$]<br />