Prezado(a) [$TO_NAME$],<br /><br />

Bem vindo! Recentemente você criou uma conta em http://[$PORTAL_URL$].

Para utilizar o portal, você deve primeiro confirmar seu cadastro, clicando no link abaixo. 
<br />
<br />
<a href="[$CONFIRM_URL$]">[$CONFIRM_URL$]</a>
<br />
<br />
Caso não consiga clicar no link, copie-o e cole-o na barra de endereços do seu navegador.
<br /> 
<br />
Atenciosamente,<br /><br />
[$FROM_NAME$]<br />
[$FROM_ADDRESS$]<br />
http://[$PORTAL_URL$]<br />