Caro(a) participante do debate sobre [$SITE_NAME$],<br /><br />

[$ENTRY_CONTENT$]<br /><br />

Atenciosamente,<br /><br />
[$FROM_NAME$]<br />
[$FROM_ADDRESS$]<br />
[$PORTAL_URL$]<br />
<small>Para configurar o recebimento de comunicados por e-mail, acesse o "Painel de Controle" (no topo da página à direita), <br/>
opção "Minha Conta" (no menu à esquerda) e configure a opção "Anúncios" (no menu à direita).</small> <br />
