Prezado(a) [$TO_NAME$],<br /><br />

Este é um email gerado automaticamente pela publicação de conteúdos web do portal [$PORTAL_URL$].<br /><br />

Por gentileza aprove meu artigo com ID [$ARTICLE_ID$], versão [$ARTICLE_VERSION$] e título [$ARTICLE_TITLE$].<br /><br />

Meu artigo pode ser visto em:<br /><br />

[$ARTICLE_URL$]<br /><br />

Atenciosamente,<br />
[$FROM_NAME$]<br />
[$FROM_ADDRESS$]<br />