Prezado(a) [$TO_NAME$],<br /><br />

Há uma nova solicitação de participação na comunidade [$COMMUNITY_NAME$] do usuário [$REQUEST_USER_NAME$] ([$REQUEST_USER_ADDRESS$]).<br /><br />

Você está recebendo esta mensagem pois é um dos administradores da comunidade. Use o Painel de Controle para gerenciar as solicitações.<br /><br />

Comentários feitos pelo usuário:<br /><br />

[$COMMENTS$]<br /><br />

Atenciosamente,<br />
[$FROM_NAME$]<br />
[$FROM_ADDRESS$]<br />
[$PORTAL_URL$]<br />