Prezado(a) [$TO_NAME$],<br /><br />

Sua solicitação para participar da comunidade [$COMMUNITY_NAME$] obteve o seguinte resultado: [$STATUS$].<br /><br />

Comentários feitos pelo administrador da comunidade:<br /><br />

[$REPLY_COMMENTS$]<br />
<br />

Atenciosamente,<br />
[$FROM_NAME$]<br />
[$FROM_ADDRESS$]<br />
[$PORTAL_URL$]<br />