Prezado(a) [$TO_NAME$],<br /><br />

Bem-vindo! Recentemente você criou uma conta em [$PORTAL_URL$].

Sua senha é [$USER_PASSWORD$]. <br /><br />

Atenciosamente,<br />
[$FROM_NAME$]<br />
[$FROM_ADDRESS$]<br />
[$PORTAL_URL$]<br />