Prezado(a) [$TO_NAME$],<br /><br />

Você pode reconfigurar sua senha do portal ([$PORTAL_URL$]) usando o seguinte endereço: <br /> [$PASSWORD_RESET_URL$]<br /><br />

A solicitação de uma nova senha foi feita a partir de [$REMOTE_ADDRESS$] / [$REMOTE_HOST$].<br /><br />

Atenciosamente,<br />
[$FROM_NAME$]<br />
[$FROM_ADDRESS$]<br />
[$PORTAL_URL$]<br />