Prezado(a) [$TO_NAME$],<br /><br />

Bem vindo!<br />
Sua conta foi migrada automaticamente para o novo portal e-Democracia.

Utilize seu e-mail [$TO_ADDRESS$] para entrar e conhecer as novidades. 
<br />
Para confirmar seu cadastro, clique na url abaixo:
<br />
<a href="[$RESET_PASSWORD_URL$]">[$RESET_PASSWORD_URL$]</a>
<br />

Atenciosamente,<br />
[$FROM_NAME$]<br />
[$FROM_ADDRESS$]<br />
[$PORTAL_URL$]<br />
