Prezado(a) [$TO_NAME$],<br /><br />

Sua nova senha para o portal [$PORTAL_URL$] é [$USER_PASSWORD$].<br /><br />

A solicitação de nova senha foi feita a partir de [$REMOTE_ADDRESS$] / [$REMOTE_HOST$].<br /><br />

Atenciosamente,<br />
[$FROM_NAME$]<br />
[$FROM_ADDRESS$]<br />
[$PORTAL_URL$]<br />