Prezado(a) [$TO_NAME$],<br /><br />

Este é um email gerado automaticamente pelo calendário do portal.<br /><br />

Seu evento [$EVENT_TITLE$] irá iniciar em [$EVENT_START_DATE$].<br /><br />

Atenciosamente,<br />
[$FROM_NAME$]<br />
[$FROM_ADDRESS$]<br />
[$PORTAL_URL$]<br />